*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    background-color: black;
}

#photos{
    margin-top: 30px;
    
}

#photos img{
    display: inline-block;
    width: 100%;
    margin-top: 9px;
}

@media (min-width: 500px){
    #photos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 6px;
        max-width: 100%;
        margin-top: 0;
    }
}

@media (min-width: 900px){
    #photos{
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        margin: auto;
    }

}